body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background: #000000;
}

.background {
    filter: blur(6px) brightness(0.5);
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -2;
}

.background:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255,255,255,0.15), transparent);
    animation: float 12s infinite linear;
}

.navbar {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(15px);
    background: #ffffff;
    z-index: 999;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo {
    width: 40px;
}

.nav-title {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 28px;
}

.nav-links li a {
    color: #000000;
    text-decoration: none;
    font-size: 17px;
    transition: .3s;
}

.nav-links li a:hover {
    color: #ff0000;
}

.hamburger {
    display: none;
    width: 35px;
    height: 22px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    height: 4px;
    background: #ffffff;
    border-radius: 3px;
}

.container {
    text-align: center;
    padding-top: 130px;
    color: #00008b;
}

.logo {
    width: 90px;
}

.title {
    font-size: 32px;
}

.subtitle {
    opacity: 0.8;
}

.card {
    width: 360px;
    margin: auto;
    background: rgba(253, 252, 252, 0.993);
    padding: 25px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.product-img {
    width: 120px;
    animation: floatProduct 3s infinite ease-in-out;
}

label {
    display: block;
    text-align: left;
    margin-top: 12px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: none;
}

.btn {
    margin-top: 18px;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
    transition: .5s;
}

.btn:hover { 
    transform: scale(1.05); 
    opacity: 0.94; 
}

/* RESULTS */
.result {
    margin-top: 20px;
    text-align: left;
}

.coupon-message {
    margin-top: 10px;
    font-weight: bold;
}


.coupon-section {
    padding: 60px 20px;
    color: #ffffff;
    text-align: center;
}

.coupon-section li {
    margin: 10px 0;
    font-size: 18px;
}


.about-section {
    padding: 60px 20px;
    color: #ffffff;
    text-align: center;
}


.scroll-animate {
    opacity: 1;
    transform: translateY(40px);
    transition: 0.8s ease-out;
}

.scroll-visible {
    opacity: 0.8;
    transform: translateY(0);
}